<nav class="navbar bg-primary">
      <div class="container-fluid ps-4 pe-4">
        <div class="d-flex align-items-center">
          <!-- Toggle button for sidebar -->
          <div
            id="menuToggle"
            class="border border-light border-2 rounded menu-manual d-flex align-items-center justify-content-center"
            style="cursor: pointer;" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasExample" 
            aria-controls="offcanvasExample"
          >
            <i class="bi bi-list text-light fw-bolder fs-5"></i>
          </div>
          <a class="navbar-brand ms-3 text-light" href="#">
            CyberAware
          </a>
        </div>
      </div>
    </nav>
