<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 320px;">
    <div class="offcanvas-header">
        {% comment %} <h5 class="offcanvas-title" id="offcanvasExampleLabel">NIDS Sidebar</h5> {% endcomment %}
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="text-center text-primary mb-4">
            <i class="display-1 bi bi-person-circle"></i>
        </div>
        <h3 class="text-center text-primary mb-4">Username Here</h3>
        
        <ul class="list-unstyled">
            <li class="mb-2 bg-secondary text-light">
                <span class="text-uppercase text-secondary small">Menu</span>
            </li>
            <li class="mb-3">
                <a href="#" class="text-decoration-none d-flex align-items-center p-2 rounded link-primary-hover">
                    <i class="bi bi-house-fill me-2"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="mb-3">
                <a href="#" class="text-decoration-none d-flex align-items-center p-2 rounded link-primary-hover">
                    <i class="bi bi-person-fill me-2"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="mb-3">
                <a href="#" class="text-decoration-none d-flex align-items-center p-2 rounded link-primary-hover">
                    <i class="bi bi-gear-fill me-2"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li class="mb-3">
                <a href="#" class="text-decoration-none d-flex align-items-center p-2 rounded link-primary-hover">
                    <i class="bi bi-clipboard-data me-2"></i>
                    <span>Logs</span>
                </a>
            </li>
            <li class="mb-3 dropdown">
                <a href="#" class="text-decoration-none d-flex align-items-center p-2 rounded link-primary-hover" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-file-earmark-text me-2"></i>
                    <span>Reports</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Intrusion Reports</a></li>
                    <li><a class="dropdown-item" href="#">Traffic Reports</a></li>
                    <li><a class="dropdown-item" href="#">User Activity Reports</a></li>
                </ul>
            </li>
            <li class="mb-3">
                <a href="#" class="text-decoration-none d-flex align-items-center p-2 rounded link-primary-hover">
                    <i class="bi bi-box-arrow-right me-2"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
